{{#LFMlist recommendationsTiles}}
    <h4 class="tile-name">{{LFMunescape hotelName}}</h4>
    <p class="secondary">{{LFMunescape hotelCity}}{{#if hotelProvince}},&nbsp{{LFMunescape hotelProvince}}{{/if}}</p>
    <p class="secondary tile-price"><strong>{{LFMunescape averagePrice}}</strong></p>
{{/LFMlist}}