<header class="cols-row-header section-header cf">

    <h3 id="rec-title" class="section-header-main"></h3>
    <h4 class="section-header-sub">
        {{#if isForBookedFlight}}

        {{else}}

        {{/if}}
    </h4>
    {{#if displayAsAveragePrice}}
        <span id="rec-disclaimer"></span>
    {{else}}
        {{#if isMultiNight}}
            <span id="rec-disclaimer"></span>
        {{else}}
            <span id="rec-disclaimer"></span>
        {{/if}}
    {{/if}}

</header>

<div class="content-slider" id="rec-content-slider" data-omniture-prefix="Home.SuggHotel" data-control="content-slider">
    <section class="content-slider-mask cols-nested">
        <div class="tile-grid cf">
            {{#each hotel}}
                {{>handlebars/recommender/hotel-tile}}
            {{/each}}
        </div>
    </section>
</div>