<div id="fh-msg-tooltip" class="sub-600 package-val-prop">
    {{#if showPackageValueMessage}}
        {{#if showFlightHotelPackageUpsell}}
            <p class="fh">
                <strong></strong>
                <br />

            </p>
            {{#if showPackageSavingsDisclaimer}}
                <p class="fh package-val-prop-disclaimer"></p>
            {{/if}}
        {{else}}
            <p class="nonfh single-line-val-prop" id="single-line-val-prop">
                <strong></strong>
            </p>
        {{/if}}
    {{/if}}
</div>