<div id="fh-msg-tooltip" class="sub-600 package-val-prop">
    {{#if showPackageValueMessage}}
        {{#if showFlightHotelPackageUpsell}}
            <p class="fh">
                <strong>${fhMessage1}</strong>
                <br />
                ${fhMessage2}
            </p>
            {{#if showPackageSavingsDisclaimer}}
                <p class="fh package-val-prop-disclaimer">${disclaimer}</p>
            {{/if}}
        {{else}}
            <p class="nonfh single-line-val-prop" id="single-line-val-prop">
                <strong>${nonfhMessage}</strong>
            </p>
        {{/if}}
    {{/if}}
</div>