{{#if allVendors}}
    <option value="">No Preference</option>
    <option value="AC">ACE Rent A Car</option>
    <option value="AD">Advantage Rent-A-Car</option>
    <option value="AL">Alamo Rent A Car</option>
    <option value="ZI">Avis</option>
    <option value="ZD">Budget</option>
    <option value="ZR">Dollar Rent A Car</option>
    <option value="EY">Economy Rent a Car</option>
    <option value="ET">Enterprise</option>
    <option value="EP">Europcar</option>
    <option value="FX">Fox Rental Cars</option>
    <option value="ZE">Hertz</option>
    <option value="MW">Midway Car Rental</option>
    <option value="ZL">National Car Rental</option>
    <option value="NU">N&#252; Car</option>
    <option value="ZA">Payless</option>
    <option value="SX">Sixt</option>
    <option value="ZT">Thrifty Car Rental</option>
    <option value="SV">U-Save</option>
{{/if}}

{{#if corporateVendors}}
    <option value="">-- Select from the list --</option>
    <option value="ZI">Avis</option>
    <option value="ZD">Budget</option>
    <option value="ZR">Dollar Rent A Car</option>
    <option value="ET">Enterprise</option>
    <option value="EP">Europcar</option>
    <option value="ZE">Hertz</option>
    <option value="ZA">Payless</option>
    <option value="ZT">Thrifty Car Rental</option>
    <option value="AC">ACE Rent A Car</option>
    <option value="AD">Advantage Rent-A-Car</option>
    <option value="AL">Alamo Rent A Car</option>
    <option value="EY">Economy Rent a Car</option>
    <option value="ZL">National Car Rental</option>
    <option value="NU">N&#252; Car</option>
    <option value="SX">Sixt</option>
{{/if}}

{{#if specialVendors}}
    <option value="">-- Select from the list --</option>
    <option value="ZI">Avis</option>
    <option value="ZD">Budget</option>
    <option value="ZR">Dollar Rent A Car</option>
    <option value="ET">Enterprise</option>
    <option value="EP">Europcar</option>
    <option value="ZE">Hertz</option>
    <option value="ZA">Payless</option>
    <option value="ZT">Thrifty Car Rental</option>
    <option value="AC">ACE Rent A Car</option>
    <option value="AD">Advantage Rent-A-Car</option>
    <option value="AL">Alamo Rent A Car</option>
    <option value="EY">Economy Rent a Car</option>
    <option value="FX">Fox Rental Cars</option>
    <option value="ZL">National Car Rental</option>
    <option value="NU">N&#252; Car</option>
    <option value="SX">Sixt</option>
    <option value="SV">U-Save</option>
{{/if}}